# Binaries
dhm
dmonitor
health-check
monitor
*.exe
*.exe~
*.dll
*.so
*.dylib

# Dependency directories
vendor/

# Build and Tooling
*.test
*.out
go.work

# IDE - VS Code
.vscode/
*.code-workspace

# Local environment
.env
os.Setenv

# Distrobox / System
*~
*.swp
.DS_Store
